<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated default -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Asdm.presentation.AsdmModelWizardID"
            name="%_UI_AsdmModelWizard_label"
            class="Asdm.presentation.AsdmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AsdmModelFile.gif">
         <description>%_UI_AsdmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated default -->
      <editor
            id="Asdm.presentation.AsdmEditorID"
            name="%_UI_AsdmEditor_label"
            icon="icons/full/obj16/AsdmModelFile.gif"
            extensions="asdm"
            class="Asdm.presentation.AsdmEditor"
            contributorClass="Asdm.presentation.AsdmActionBarContributor">
      </editor>
   </extension>

</plugin>
